# Default fallback (if a file is outside these folders, both are tagged)

- @babyanonymouse @simon-tiphy

# Frontend is Samuel's domain

/frontend/ @babyanonymouse

# Backend is Simon's domain

/backend/ @simon-tiphy
